@page "/family-tree"

<div class="bgtren"><div class="logo" align="center"><a href=".html"><img src="Images/icon.png" class="logo_img" /></a></div></div>
<div class="row">
    <div class="col-md-c1">
        <nav class="nav justify-content-center">
            <div class="tab-page"><a href="/">Trang chủ</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Tin tức</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Phả ký</a></div>
            <div class="tab-page active"><a href="javascript:void(0)">Phả đồ</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Tộc ước</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Thư viện</a></div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="title-content-giapha" align="center" style="margin-top:30px">PHẢ ĐỒ DÒNG HỌ LÊ PHƯỚC HẢI</div>
    
    <div class="genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <div class="member-view-box nam">
                            <div class="member-image">
                                Thủy Tổ - Lê Văn Đạt<br/>
                                <small>(1290 - 1360)</small>
                                <small>Đề đốc thủy quân nhà Trần</small>
                                <small>Tổ nghề nuôi yến Khánh Hòa</small>
                            </div>
                        </div>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="member-view-box nu">
                                    <div class="member-image">
                                        Phu nhân Trần Thị Ngọc<br/>
                                        <small>(1295 - 1365)</small>
                                        <small>Con gái quan Thái phó</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="member-view-box nam">
                                    <div class="member-image">
                                        Lê Văn Thịnh<br/>
                                        <small>(1320 - 1390)</small>
                                        <small>Quan võ triều Trần</small>
                                        <small>Con trưởng</small>
                                    </div>
                                </div>
                            </a>
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <div class="member-view-box nu">
                                            <div class="member-image">
                                                Phu nhân Nguyễn Thị Lan<br/>
                                                <small>(1325 - 1395)</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <div class="member-view-box nam">
                                            <div class="member-image">
                                                Lê Văn Phước<br/>
                                                <small>(1350 - 1420)</small>
                                                <small>Khai khẩn đất Khánh Hòa</small>
                                            </div>
                                        </div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <div class="member-view-box nu">
                                                    <div class="member-image">
                                                        Phu nhân Trần Thị Mai<br/>
                                                        <small>(1355 - 1425)</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <div class="member-view-box nam">
                                                    <div class="member-image">
                                                        Lê Phước Hải<br/>
                                                        <small>(1380 - 1450)</small>
                                                        <small>Lập nghiệp tại Nha Trang</small>
                                                        <small>Người đặt nền móng cho dòng họ</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <div class="member-view-box nu">
                                                            <div class="member-image">
                                                                Phu nhân Phạm Thị Hương<br/>
                                                                <small>(1385 - 1455)</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <div class="member-view-box nam">
                                                            <div class="member-image">
                                                                Lê Phước Thịnh<br/>
                                                                <small>(1410 - 1480)</small>
                                                                <small>Con trưởng</small>
                                                                <small>Kế nghiệp cha</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <div class="member-view-box nam">
                                                                    <div class="member-image">
                                                                        Lê Phước An<br/>
                                                                        <small>(1440 - 1510)</small>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <div class="member-view-box nam">
                                                                    <div class="member-image">
                                                                        Lê Phước Thọ<br/>
                                                                        <small>(1445 - 1515)</small>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <div class="member-view-box nam">
                                                            <div class="member-image">
                                                                Lê Phước Lộc<br/>
                                                                <small>(1415 - 1485)</small>
                                                                <small>Con thứ</small>
                                                                <small>Mở rộng đất đai</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <div class="member-view-box nam">
                                                                    <div class="member-image">
                                                                        Lê Phước Đức<br/>
                                                                        <small>(1445 - 1515)</small>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0)">
                                                                <div class="member-view-box nam">
                                                                    <div class="member-image">
                                                                        Lê Phước Thiện<br/>
                                                                        <small>(1450 - 1520)</small>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="member-view-box nam">
                                    <div class="member-image">
                                        Lê Văn Phúc<br/>
                                        <small>(1325 - 1395)</small>
                                        <small>Con thứ</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<style>
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    .genealogy-scroll {
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
    }

    .genealogy-tree {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .genealogy-tree ul {
        padding-top: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;
    }

    .genealogy-tree li {
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;
        min-width: 170px;
    }

    .genealogy-tree li::before,
    .genealogy-tree li::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: 2px solid #8b4513;
        width: 50%;
        height: 20px;
    }

    .genealogy-tree li::after {
        right: auto;
        left: 50%;
        border-left: 2px solid #8b4513;
    }

    .genealogy-tree li:only-child::after,
    .genealogy-tree li:only-child::before {
        display: none;
    }

    .genealogy-tree li:first-child::before,
    .genealogy-tree li:last-child::after {
        border: 0 none;
    }

    .genealogy-tree li:last-child::before {
        border-right: 2px solid #8b4513;
        border-radius: 0 5px 0 0;
    }

    .genealogy-tree li:first-child::after {
        border-radius: 5px 0 0 0;
    }

    .genealogy-tree ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 2px solid #8b4513;
        width: 0;
        height: 20px;
    }

    .member-view-box {
        padding: 8px;
        min-width: 160px;
        max-width: 180px;
        margin: 3px;
        border: 2px solid #8b4513;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        background: #f9f5f0;
        transition: all 0.3s ease;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    .member-view-box:hover {
        transform: scale(1.05);
        box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
        z-index: 1;
    }

    .member-view-box.nam {
        border-color: #8b4513;
        background: linear-gradient(to bottom, #f9f5f0, #f5e6d3);
    }

    .member-view-box.nu {
        border-color: #AB7C2C;
        background: linear-gradient(to bottom, #fff5f5, #ffe6e6);
    }

    .member-image {
        text-align: center;
        color: #2c1810;
        font-weight: bold;
        padding: 3px;
        font-size: 0.85em;
        line-height: 1.2;
    }

    .member-image small {
        display: block;
        color: #666;
        margin-top: 2px;
        font-size: 0.75em;
        line-height: 1.1;
    }

    .title-content-giapha {
        font-size: 24px;
        font-weight: bold;
        color: #8b4513;
        margin: 20px 0;
        text-transform: uppercase;
    }

    @@media (max-width: 768px) {
        .member-view-box {
            min-width: 140px;
            max-width: 160px;
            padding: 6px;
        }
        .genealogy-tree li {
            min-width: 150px;
            padding: 20px 3px 0 3px;
        }
        .member-image {
            font-size: 0.8em;
        }
        .member-image small {
            font-size: 0.7em;
        }
    }

    @@media (max-width: 576px) {
        .member-view-box {
            min-width: 130px;
            max-width: 150px;
            padding: 5px;
        }
        .genealogy-tree li {
            min-width: 140px;
            padding: 15px 2px 0 2px;
        }
        .member-image {
            font-size: 0.75em;
        }
        .member-image small {
            font-size: 0.65em;
            margin-top: 2px;
        }
    }
</style> 