@page "/"

@* <div class="bgtren"><div class="logo" align="center" style="font-size:5rem;color:#AB7C2C;padding-top:13rem;">TỘC LÊ PHƯỚC HẢI</div></div> *@
<div class="bgtren"><div class="logo" align="center"><a href=".html"><img src="Images/icon.png" class="logo_img" /></a></div></div>
<div class="row">
    <div class="col-md-c1">
        <nav class="nav justify-content-center">
            <div class="tab-page active"><a href="javascript:void(0)">Trang chủ</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Tin tức</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Phả ký</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Phả đồ</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Tộc ước</a></div>
            <div class="tab-page"><a href="javascript:void(0)">Thư viện</a></div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top:50px">
        <div class="col-md-7">
            <div class="card"><img class="card-img-top" src="Images/nhatho.png" style="width: 100%; height: auto;" /></div>
        </div>
        <div class="col-md-5">
            <div class="title-content">
                <label style="font-size:16px;"><b>Website này được được tạo dựng nên nhằm mục đích:</b></label>
                <br />
                <label><b>1. Kết nối các thành viên trong dòng tộc</b></label>
                <br />
                <label style="padding-left:30px;">_ Tạo không gian để tất cả các thành viên trong dòng tộc, kể cả những người ở xa, có thể giao lưu, chia sẻ thông tin và kết nối với nhau.</label>
                <br />
                <label style="padding-left:30px;">_ Dễ dàng cập nhật thông tin liên lạc của các thành viên.</label>

                <br />
                <label><b>2.  Ghi lại và bảo tồn lịch sử dòng tộc</b></label>
                <br />
                <label style="padding-left:30px;">_ Thu thập và lưu trữ thông tin về nguồn gốc, tổ tiên, và các thế hệ trong dòng tộc.</label>
                <br />
                <label style="padding-left:30px;">_ Tạo cây phả hệ trực tuyến giúp các thế hệ sau hiểu hơn về nguồn gốc của mình.</label>

                <br />
                <label><b>3.  Chia sẻ và duy trì giá trị văn hóa</b></label>
                <br />
                <label style="padding-left:30px;">_ Truyền tải những giá trị truyền thống, phong tục tập quán đặc trưng của dòng tộc.</label>
                <br />
                <label style="padding-left:30px;">_ Lưu giữ những hình ảnh, tư liệu quý giá như ảnh chụp, video, hoặc câu chuyện về dòng tộc.</label>

                <br />
                <label><b>4.  Cập nhật các sự kiện quan trọng</b></label>
                <br />
                <label style="padding-left:30px;">_ Thông báo các sự kiện của dòng tộc như lễ giỗ, cưới hỏi, sinh nhật, hoặc các buổi họp mặt.</label>
                <br />
                <label style="padding-left:30px;">_ Lập kế hoạch cho các sự kiện lớn của dòng tộc.</label>

                <br />
                <label><b>5.  Hỗ trợ và đoàn kết nội bộ</b></label>
                <br />
                <label style="padding-left:30px;">_ Kêu gọi sự hỗ trợ giữa các thành viên trong dòng tộc khi gặp khó khăn.</label>
                <br />
                <label style="padding-left:30px;">_ Tạo quỹ chung để hỗ trợ cho các mục đích chung như học bổng, từ thiện, hoặc xây dựng các công trình gia tộc.</label>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-md-8" align="center" style="margin-top:20px; margin-bottom:20px"><div class="tab-page-long active"><a href="javascript:void(0)">Tin tức dòng họ</a></div></div>
    <div class="col-md-8">
        <div class="row">

            <div class="col-md-9">
                <div class="card">
                    <a href="javascript:void(0)"><img src='Images/Tintuc/GioToHoLe.jpg' alt='Linh thiêng và đặc sắc: Lễ giỗ tổ họ Bùi làng Xuân Bảng' class="card-img-top card-img-top_home"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="javascript:void(0)">Linh thiêng và đặc sắc: Lễ giỗ tổ họ Lê Phước Hải</a></h5>
                        <p class="card-text">Dù ai đi ngược về xuôi, nhớ ngày Giỗ Tổ mùng 10/02 Hàng năm, cứ đến ngày 10-2 (ÂL) dòng tộc họ Lê Phước Hải lại long trọng tổ chức lễ giỗ Thủy tổ Lê Văn Đạt nhằm tri ân công lao to lớn của Thủy tổ cùng con cháu họ Lê từ những ngày đầu gây dựng cho tới ngày hôm nay. Không chỉ vậy, ngày giỗ Tổ cũng là ngày con cháu trong dòng họ có dịp sum vầy, đoàn tụ cùng nhau chia sẻ những thành đạt trong cuộc sống để báo cáo với tổ tiên.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <a href="javascript:void(0)"><img src='Images/Tintuc/ThuyToLeVanDat.jpg' alt='Giới thiệu website gia phả họ Bùi Xuân Bảng' class="card-img-top card-img-top_home"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="javascript:void(0)">Truyền Thuyết Về Vị Thủy Tổ Nghề Nuôi Yến Khánh Hòa</a></h5>
                        <p class="card-text">Năm 1328, trong một chuyến công tác đề đốc thủy quân nhà Trần là Lê Văn Đạt đã phát hiện ra hệ thống đảo yến trên vịnh Nha Trang. Cùng năm này, ông thành lập quân đội giao nhiệm vụ bảo vệ, khai thác yến sào. Nghề nuôi yến Khánh Hòa chính thức ra đời từ đó. Lê Văn Đạt được người dân nơi đây suy tôn là ông tổ nghề nuôi yến.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <a href="javascript:void(0)"><img src='Images/Tintuc/GiaPhaTocLe.jpg' alt='Gia phả Tộc Lê Phước Hải' class="card-img-top card-img-top_home"></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="javascript:void(0)">Gia phả tộc Lê Phước Hải</a></h5>
                        <p class="card-text">Cây gia phả giúp thành viên trong dòng họ xác định gốc gác tổ tiên, họ hàng, và các mối quan hệ huyết thống, từ đó hiểu rõ hơn về tổ tiên và cội nguồn của mình. Duy trì các mối liên kết và hiểu rõ hơn về vị trí của mình trong dòng họ.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-8" align="center" style="margin-top:20px; margin-bottom:20px"><div class="tab-page-long active"><a href="javascript:void(0)">Thư viện ảnh</a></div></div>
    <div class="col-md-8">
        <div class="row">

            <div class="col-md-10">
                <a href="javascript:void(0)">
                    <div class="card">
                        <img src='Images/Gallery/GioToHoLe.jpg' alt='Giỗ tổ họ Lê' class="card-img-top" style="object-fit: cover;height: 165px">
                        <div class="overlay"><div class="text">Giỗ tổ họ Lê</div></div>
                    </div>
                </a>
            </div>

            <div class="col-md-10">
                <a href="javascript:void(0)">
                    <div class="card">
                        <img src='Images/Gallery/GioToHoLe2.jpg' alt='Giỗ tổ họ Lê' class="card-img-top" style="object-fit: cover;height: 165px">
                        <div class="overlay"><div class="text">Giỗ tổ họ Lê</div></div>
                    </div>
                </a>
            </div>

            <div class="col-md-10">
                <a href="javascript:void(0)">
                    <div class="card">
                        <img src='Images/Gallery/GioToHoLe3.jpg' alt='Giỗ tổ họ Lê' class="card-img-top" style="object-fit: cover;height: 165px">
                        <div class="overlay"><div class="text">Giỗ tổ họ Lê</div></div>
                    </div>
                </a>
            </div>

            <div class="col-md-10">
                <a href="javascript:void(0)">
                    <div class="card">
                        <img src='Images/Gallery/GioToHoLe4.jpg' alt='Giỗ tổ họ Lê' class="card-img-top" style="object-fit: cover;height: 165px">
                        <div class="overlay"><div class="text">Giỗ tổ họ Lê</div></div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8" align="center" style="margin-top:30px; margin-bottom:20px"><div class="tab-page-long active"><a href="javascript:void(0)">Đến nhà thờ</a></div></div>
</div>
<section><iframe allowfullscreen="" frameborder="0" height="450" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d4637.1037082662315!2d109.18047084335859!3d12.22633542591183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTLCsDEzJzM1LjIiTiAxMDnCsDEwJzU4LjYiRQ!5e0!3m2!1sen!2s!4v1736675399498!5m2!1sen!2s" style="border:0;" width="100%"></iframe></section>




<footer class="footer">
    <div class="container">
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-1"><img src="Images/logo-footer.png" width="150px"></div>
            <div class="col-md-2">
                <p class="footer-title">Họ Lê Phước Hải</p>
                <p class="footer-text"><b>Địa chỉ:</b> 582/19 Lê Hồng Phong, thành phố Nha Trang, tỉnh Khánh Hòa</p>
                <p class="footer-text"><b>Trưởng tộc:</b> XXX - <b>Điện thoại:</b> XXX</p>
                @* <p class="footer-text"><b>Quản lý website:</b> XXX - <b>Điện thoại:</b> XXX</p> *@
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><a href="javascript:void(0)" target="_self">Tin tức</a></li>
                            <li><a href="javascript:void(0)" target="_self">Phả ký</a></li>
                            <li><a href="javascript:void(0)" target="_self">Tộc ước</a></li>
                            @* <li><a href="1dbb.html?gpdh=8&amp;Video-dong-ho.html" target="_self">Video</a></li> *@
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="javascript:void(0)" target="_self">Phả đồ dọc</a></li>
                            <li><a href="javascript:void(0)" target="_self">Phả đồ ngang</a></li>
                            <li><a href="javascript:void(0)" target="_self">Phả đồ theo đời</a></li>
                            <li><a href="javascript:void(0)" >Hình ảnh dòng họ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>